* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}


/* Common */

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 60px;
    display: inline-block;
    color: #fff;
    background: #2E80CE;
    height: var(--height);
    padding: 0 20px;
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid #2E80CE;
    text-align: center;
    font-size: 1.6rem;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}


/* Header */

.header {
    min-height: 100vh;
    background-color: var(--header-bg);
    padding-top: 30px;
}

.logo {
    position: relative;
    display: flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-flex;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2E80CE;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    color: #fff;
    text-align: right;
    line-height: 1.4em;
}

.logo__brand {
    display: block;
    margin-left: 0.6em;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}


/* Header top */

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 4px 21px;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    left: -8px;
    top: -2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
}


/* Hero */

.hero {
    display: flex;
    margin-top: 76px;
    align-items: center;
}

.hero__content {
    width: 44%;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -0.02rem;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__phone {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}